.navbarTEXT:hover {
    color:red;
    text-decoration: none;
    outline: 0;
}

.topline {
    position: fixed;
    background-color: #12232E;
    width: 100%;
    top: 0px;
    color: white;
    height: 31px;   
}
.pies {
    position: fixed;
    margin-top:8px;
    right: 10px;
    color:white;
}
.title {
    background-color: #4DA8DA;
    padding: 15px;
    border-bottom: 8px solid #203647;
}
.navigationUL {
    display:inline-flex;
    background-color:#A0D2EB;
    width:100%;
    margin-bottom:2px;
    text-align:center;
    height:31px;
    padding-left:10px;
}

.alert {
    font-size:24px;
}
.search {
    width: 504px;
    height: 67px;
    left: 1104px;
    top: 679px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

}
.bottomline {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #12232E;
    height: 32px;
    width: 100%;
    color: white;
    text-align: center;
}
