{% extends 'layout.html' %}
{% set active_page = 'adminPanelSlimnicas' %}
{% block content %}
    <h2>Administrātora panelis</h2>
    <h3>Izvēlies slimnīcu</h3>
        <div class="adminpanel">
            <input style="border-radius:20px; font-size:medium; width: 750px;" placeholder="meklēt" id="123Search" type="text">
        </div>
            <br><br>
    <h3>Izvēlies ārstu</h3>
        <div class="adminpanel1">
            <input style="border-radius:20px; font-size:medium; width: 750px;" placeholder="meklēt" id="123Search" type="text">
        </div>
    <div class="adminbutt">
        <button>
        <button placeholder="weewe">
    </div>
    
{% endblock %}
