{% extends 'layout.html' %}
{% set active_page = 'adminfunctions2' %}
{% block content %}
    <h3>Administrātora panelis</h3>

    <input  class="textpanel1" placeholder="Izvēlētais ārsts">
    <button class="search-icon3"><img src="../unknown.png"></button>

    <input class="textpanel2" placeholder="Informācija par ārstu">
    
    <button text="Drukāt" class="lejup">Lejuplādēt</button>
    <button text="Lejuplādēt" class="Pievienot">Pievienot</button> 
    <button text="Drukāt" class="mainīt">mainīt</button>
    <button text="Lejuplādēt" class="Izdzēst">izdzēst</button> 
    
    <input class="textpanel3" placeholder="mainīt uz">
{% endblock %}