{% extends 'layout.html' %}
{% set active_page = 'adminfunctions2' %}
{% block content %}
<div class="boomer1">
<table>
  <tr>
      <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
        <h1>Administrātora panelis</h1>
        <!--Slimnīcas nosaukums-->
        <h3>Izvēlieties slimnīcu</h3>
        <form>
            <select style="width: 575px; height: 30px; border-radius: 40px; margin-top: 6px; outline:none;" id="slimnica22" name="hospital">
            <option>Izvēlieties slimnīcu</option>
            <option>Rīgas 1.slimnīca</option>
            <option>Rīgas 2.slimnīca</option>
            <option>Neatliekamāš medicīnas centrs</option>
            <option>Rīgas Austrumu slimnīca</option>
            <option>Jūrmalas slimnīca</option>
            <option>Paula Stradiņa slimnīca</option>
            </select>
        </form>
    </div>
    <br><br>
    <h3>Izvēlieties ārsta profesiju</h3>
        <form>
            <select style="width: 575px; height: 30px; border-radius: 40px; margin-top: 6px; outline:none; outline:none;" id="profesija" name="job">
            <option>Izvēlieties darbības jomu</option>
            <option>Zobārsts</option>
            <option>Psihologs</option>
            <option>Neirologs</option>
            <option>Ķirurgs</option>
            <option>Anesteziologs</option>
            <option>Endokrinologs</option>
            <option>Infektologs</option>
            <option>Podologs</option>
            <option>Optometrists</option>
            <option>Masieris</option>
            <option>Fizioterapēts</option>
            <option>Urologs</option>
            <option>Radiologs</option>
            </select>
        </form>
    </div>
        <br><br>
        <h3>Ievadiet ārsta vārdu:</h3>
            <div class="adminpanel8">
                <input style="height: 30px; background: rgba(255, 233, 233, 0.2); border: 1px solid #9AB3F5; box-sizing: border-box; border-radius: 40px; width: 575px;" placeholder="Ievadiet ārsta vārdu" id="arstavards" type="text" minlength="4" maxlength="20">
            </div>
        <br><br>
        <h3>Ievadiet ārsta uzvārdu :</h3>
            <div class="adminpanel8">
                <input style="height: 30px; background: rgba(255, 233, 233, 0.2); border: 1px solid #9AB3F5; box-sizing: border-box; border-radius: 40px; width: 575px;" placeholder="Ievadiet ārsta uzvārdu" id="arstauzvards" type="text" minlength="4" maxlength="20">
            </div>
        <br><br>
        <!--Ārsta darba laiks-->
        <h3>Ievadiet ārsta darba laiku :</h3>
            <div class="adminpanel8">
                <input style="height: 30px; background: rgba(255, 233, 233, 0.2); border: 1px solid #9AB3F5; box-sizing: border-box; border-radius: 40px; width: 575px;" placeholder="Ievadiet ārsta darba laiku" id="arstalaiks" type="text" pattern="\d*">
            </div>
        <br><br>
        <!--POGA-->
        <div  class="form-action-buttons">
            <button style="width: 120px;height: 40px;background-color: rgb(70, 128, 255);border: 1px solid rgb(27, 107, 255); border-radius: 5px;" type="Submit" value="Submit" onclick="add()">Pievienot</button>
        </div>
      </form>
  </tr>
</table>
</div>
<script src="/static/adminpanel2.js"></script>
<script>
getSlimnicas()
function add(){
    let hospitalNosaukums = document.getElementById("slimnica22").value;
    let hospitalProff = document.getElementById("profesija").value;
    let hospitalWorkname = document.getElementById("arstavards").value;
    let hospitalWorktime = document.getElementById("arstalaiks").value;
    let surname = document.getElementById("arstauzvards").value;
    console.log(hospitalNosaukums, hospitalProff, hospitalWorkname, hospitalWorktime, surname);
    fetch('/arstia',{
        method:'POST',
        headers:{
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({"hospital":hospitalNosaukums,"Specaialty":hospitalProff,"arstavards":hospitalWorkname,"arstalaiks":hospitalWorktime,"arstauzvards":surname})        
    })
alert("Paldies!\n dati tika pieņemti!\n Veiksmi darbā!")
}

async function getSlimnicas(){
  let response = await fetch('/adds')
  let data_json = await response.json()
  console.log(data_json)

  let option2 = document.getElementById("slimnica22")
  option2.innerHTML = "<option><option>";

    for(let slimnicasSkaits of data_json){
        slimnica = `<option>${slimnicasSkaits.name}<option>`
        option2.innerHTML = option2.innerHTML + slimnica
    }
}
</script>
{% endblock %}