{% extends 'layout.html' %}
{% set active_page = 'arsti' %}
{% block content %}

<h1><b>Ārstu saraksts</b></h1>
<hr>
<div id="arsti">lol</div>


<script>
getArsts()
async function getArsts(){
  let response = await fetch('/arsti2')
  let data_json = await response.json()

  console.log(data_json)
  let info = document.getElementById('arsti')
    console.log(info)
    info.innerHTML = '<div></div>'
  for(let informacija of data_json){
        msgHTML = `<div style="padding-left:10px;"><b>Vārds:</b> ${informacija.name}</div><div style="padding-left:10px;"><b>Uzvārds:</b> ${informacija.surname}</div><div style="padding-left:10px;"><b>Slimnīca:</b> ${informacija.hospital}</div><div style="padding-left:10px;"><b>Specialitāte:</b> ${informacija.job}</div><hr>`
        info.innerHTML = info.innerHTML + msgHTML
    }
  }
</script>
{% endblock %}