{% extends 'layout.html' %}
{% set active_page = 'login' %}
{% block content %}

<!-- <form class="form-signin"action="/login" method = 'POST' >
  <h3 style="color:gray; text-decoration:underline;">Pieslēgšanās portālā</h3>
    <h5 style="font-size:17px; color:darkslategray;">Lietotāja vārds</h5><input type="text" name="login" id="loginVards">
    <br>
    <h5 style="font-size:17px; color:darkslategray;">Parole</h5><input type="password" name="password" id="loginParole">
  </div>

  <div style="padding-left: 15px; padding-top: 10px;">
  <button type="submit" id="loginSubmit" class="btn btn-primary">Pieslēgties</button>
  <div style="padding-top:10px;">
    <a href="/" style="text-decoration:underline; padding-right:10px;">aizmirsu paroli</a>
    <a href="/register" style="text-decoration:underline;">reģistrēties</a>
  </div>
</div>
</form> -->

<!-- <form method=POST action="{{ url_for('login') }}">
  <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Log In</button>
</form>
<br>
<div>
  Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
</div> -->


<form method="POST" action="{{ url_for('login') }}">

  <h1>Pieslēgšanās portālā</h1>
  <hr>
    <div class="form-group">
        <label for="exampleInputEmail">Lietotājvārds</label>
        <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword">Parole</label>
        <input type="password" class="form-control" name="pass" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Pieslēgties</button>
    <br>
    <a href="/register" style="text-decoration:underline;">reģistrēties</a>
  </form>
  
    <script src="static/script.js"></script>
{% endblock %}

