{% extends 'layout.html' %}
{% set active_page = 'login' %}
{% block content %}

<form method="POST" action="{{ url_for('login') }}">

  <h1>Pieslēgšanās portālā</h1>
  <hr>
<!-- Error message -->
    <h4 style="color:red;"><b>{{error}}</b></h4>
    <!-- Lietotājvārds -->
    <div class="form-group">
        <label for="exampleInputEmail">Lietotājvārds</label>
        <input type="text" id="input" class="form-control" name="username" placeholder="Lietotājvārds">
    </div>
    <!-- Parole -->
    <div class="form-group">
        <label for="exampleInputPassword">Parole</label>
        <input type="password" id="input" class="form-control" name="pass" placeholder="Parole">
    </div>
    <!-- Pieslēgties poga -->
    <button type="submit" id="button" class="btn btn-primary btn-block">Pieslēgties</button>
    <br>
    <!-- Reģistrēties -->
    <a href="/register" style="text-decoration:underline;">reģistrēties</a>
  </form>
  
    <script src="static/script.js"></script>
{% endblock %}

