{% extends 'layout.html' %}
{% set active_page = 'vizites' %}
{% block content %}
<h1>Manas vizītes</h1>
<div style="background-color: rgb(207, 207, 207);border-radius: 10px; padding-left:5px; padding-right:5px; padding-top:5px;">
    <table style="width: 1100px; border: 1px solid black; text-align: center; margin-top: 10px;">
        <tr style="border: 1px solid black; height: 40px;">
          <th style="border: 1px solid black; text-align: center;">Vizītes ID</th>
          <th style="border: 1px solid black; text-align: center;">Slimnīca</th>
          <th style="border: 1px solid black; text-align: center;">Vizītes laiks</th>
          <th style="border: 1px solid black; text-align: center;">Ārsts</th>
          <th style="border: 1px solid black; text-align: center;">Darbības joma</th>
          <th style="border: 1px solid black; text-align: center;">Opcijas</th>
        </tr>
        <tr style="height: 40px;" id="pirmais">
          <td style="border: 1px solid black; text-align: center;">3942823478</td>
          <td style="border: 1px solid black; text-align: center;">Rīgas Stradiņa</td>
          <td style="border: 1px solid black; text-align: center;">21.05.2020. 17:55</td>
          <td style="border: 1px solid black; text-align: center;">Arvis Ceirulis</td>
          <td style="border: 1px solid black; text-align: center;">Programmētājs</td>
          <td style="border: 1px solid black; text-align: center;"><button type="text" style="background: red; color: white; border: black; width: 30px; height: 30px;"></button></td>
        </tr>
        <tr>
          <td id="info"></td>
          <td id="info2"></td>
          <td id="info3"></td>
          <td id="info4"></td>
          <td id="info5"></td>
          <td id="info6"></td>
        </tr>
      </table>
      <button style="margin-left: 10px; border-radius: 10px; background: #7579E7; color: white; width: 75px; margin-top: 10px; margin-bottom: 10px;" >Drukāt</button>
      <button style="margin-left: 10px; border-radius: 10px; background: #7579E7; color: white; width: 75px; margin-top: 10px; margin-bottom: 10px;" onclick="labot()">Labot</button>
</div>
<script>
  function labot(){
    let tableDate = document.getElementById('table_date')
    tableDate.innerHTML = "<input id='message'></input><button onclick='izlabot()'>Labot</button>"
    console.log("Ievades lauki")
  }
  function izlabot(){
    let newValue = document.getElementById('message')
    let newValueMessage = newValue.value;
    let tableDate = document.getElementById('table_date')
    if (newValueMessage == ""){
      alert("Ievadiet datus!")
    } else {
    tableDate.innerHTML = "<input id='message'></input><button onclick='izlabot()'>Labot</button>"
    tableDate.innerHTML = "<td style='border: 1px solid black; text-align: center;' id='table_date'>" + newValueMessage + "</td>"
    alert("Jūsu dati tika pieņemti.")
    }
  }
// test

getInfo()
getInfo2()
getInfo3()
getInfo4()
getInfo5()
getInfo6()

async function getInfo(){
  let response = await fetch('/infos')
  let data_json = await response.json()

  console.log(data_json)
  let info = document.getElementById('info')
    console.log(info)
    info.innerHTML = '<tr></tr>'
  for(let informacija of data_json){
        msgHTML1 = `<td style="border: 1px solid black; text-align: center;">${informacija._id.$oid}</td>`
        info.innerHTML = info.innerHTML + msgHTML1
    }
  }

  async function getInfo2(){
  let response = await fetch('/infos')
  let data_json = await response.json()

  console.log(data_json)
  let info = document.getElementById('info2')
    console.log(info)
    info.innerHTML = '<tr></tr>'
  for(let informacija of data_json){
        msgHTML = `<td style="border: 1px solid black; text-align: center;"> ${informacija.hospital}</td>`
        info.innerHTML = info.innerHTML + msgHTML
    }
  }

  async function getInfo3(){
  let response = await fetch('/infos')
  let data_json = await response.json()

  console.log(data_json)
  let info = document.getElementById('info3')
    console.log(info)
    info.innerHTML = '<tr></tr>'
  for(let informacija of data_json){
        msgHTML3 = `<td style="border: 1px solid black; text-align: center;"> ${informacija.date} ${informacija.time}</td>`
        info.innerHTML = info.innerHTML + msgHTML3
    }
  }

  async function getInfo4(){
  let response = await fetch('/infos')
  let data_json = await response.json()

  console.log(data_json)
  let info = document.getElementById('info4')
    console.log(info)
    info.innerHTML = '<tr></tr>'
  for(let informacija of data_json){
        msgHTML4 = `<td style="border: 1px solid black; text-align: center;"> ${informacija.doctor}</td>`
        info.innerHTML = info.innerHTML + msgHTML4
    }
  }

  async function getInfo5(){
  let response = await fetch('/infos')
  let data_json = await response.json()

  console.log(data_json)
  let info = document.getElementById('info5')
    console.log(info)
    info.innerHTML = '<tr></tr>'
  for(let informacija of data_json){
        msgHTML5 = `<td style="border: 1px solid black; text-align: center;"> ${informacija.job}</td>`
        info.innerHTML = info.innerHTML + msgHTML5
    }
  }

  async function getInfo6(){
  let response = await fetch('/infos')
  let data_json = await response.json()

  console.log(data_json)
  let info = document.getElementById('info6')
    console.log(info)
    info.innerHTML = '<tr></tr>'
  for(let informacija of data_json){
        msgHTML6 = `<td><button style="margin-right: 10px; background: #7579E7; color: white; border-radius: 10px;" onclick="editInfo('${informacija._id.$oid}')">Labot</button><button style="background: red; color: white;" onclick="deleteInfo('${informacija._id.$oid}')">Atcelt vizīti</button><button>Drukāt</button></td>`
        info.innerHTML = info.innerHTML + msgHTML6
    }
  }
  
  
async function editInfo(id){
  let response = await fetch(`/info/${id}`)
  let data = await response.json()

  console.log(data)
  console.log("Izmainīta informacija")

  
}
async function deleteInfo(id){
  let response = await fetch(`/info/${id}`)
  let data_json_delete = await response.json()

  console.log(data_json_delete)
  console.log("Izdzēsta informacija")

  fetch('/info/delete/<id>',{
    method:'POST',
    headers:{
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({"time":data_json_delete.time,"date":data_json_delete.date,"job":data_json_delete.job,"hospital":data_json_delete.hospital, "doctor":data_json_delete.doctor, "id":data_json_delete._id.$oid})
  })
  alert("Dati tika izdzēsti!")

}
async function printInfo(id){
  let response = await fetch(`/info/${id}`)
  let data_json_delete = await response.json()

  fetch('/info/print/<id>',{
    method:'POST',
    headers:{
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({"time":data_json_delete.time,"date":data_json_delete.date,"job":data_json_delete.job,"hospital":data_json_delete.hospital, "doctor":data_json_delete.doctor, "id":data_json_delete._id.$oid})
  })
}
</script>
{% endblock %}