{% extends 'layout.html' %}
{% set active_page = 'vizites' %}
{% block content %}
    <h1>Izvēlieties slimnīcu</h1>
    <div style="background-color: white; border-radius: 40px; height: 45px; border-color: gray; border-style: solid; border-width: 1px;">
        <form>
            <select style="width: 1125px; height: 30px; border-radius: 40px; margin-top: 6px; margin-left: 5px;">
            <option>Izvēlieties slimnīcu</option>
            <option>Rīgas stradiņa</option>
            <option>Rīgas 1.slimnīca</option>
            <option>Rīgas 2.slimnīca</option>
            </select>
        </form>
    </div>
    <h1>Izvēlieties darbības jomu</h1>
    <div style="background-color: white; border-radius: 40px; height: 45px; border-color: gray; border-style: solid; border-width: 1px;">
        <form>
            <select style="width: 1125px; height: 30px; border-radius: 40px; margin-top: 6px; margin-left: 5px;">
            <option>Izvēlieties darbības jomu</option>
            <option>Zobārsts</option>
            <option>Psihologs</option>
            <option>Neirologs</option>
            </select>
        </form>
    </div>
    <h1>Izvēlieties datumu</h1>
    <div style="background-color: white; border-radius: 40px; height: 45px; border-color: gray; border-style: solid; border-width: 1px; width: 315px;">
        <form>
            <select style="width: 300px; height: 30px; border-radius: 40px; margin-top: 6px; margin-left: 5px;">
            <option>Izvēlieties dienu</option>
            <option>Pirmdiena</option>
            <option>Otrdiena</option>
            <option>Trešdiena</option>
            <option>Ceturtdiena</option>
            <option>Piektdiena</option>
            <option>Sestdiena</option>
            <option>Svētdiena</option>
            </select>
        </form>
    </div>
    <div style="background-color: white; border-radius: 40px; height: 45px; border-color: gray; border-style: solid; border-width: 1px; width: 315px; margin-top: 5px;">
        <form>
            <select style="width: 300px; height: 30px; border-radius: 40px; margin-top: 6px; margin-left: 5px;">
            <option>Izvēlieties laiku</option>
            <option>8:00</option>
            <option>9:00</option>
            <option>10:00</option>
            <option>11:00</option>
            <option>12:00</option>
            <option>13:00</option>
            <option>14:00</option>
            <option>15:00</option>
            <option>16:00</option>
            <option>17:00</option>
            <option>18:00</option>
            <option>19:00</option>
            <option>20:00</option>
            </select>
        </form>
    </div>
    <div class="zina" style="width: 1125px; height: 100px; background-color:red;margin-left: 50px;">
        <h2>Uzmanību!</h2>
        <p>Ejot pie daktera jābūt personas apliecinošiem dokumentiem.</p>
    </div>
{% endblock %}
