{% extends 'layout.html' %}
{% set active_page = 'vizites' %}
{% block content %}
    <h1>Izvēlieties slimnīcu</h1>
    <div style="background-color: white; border-radius: 40px; height: 45px; border-color: gray; border-style: solid;">
        <input type="text" style="border-radius: 40px; margin-top: 5px; height: 30px; margin-bottom: 5px; width: 1125px; margin-left: 5px;" placeholder="  Meklēt slimnīcu">
    </div>
    <h1>Izvēlieties darbības jomu</h1>
    <div style="background-color: white; border-radius: 40px; height: 45px; border-color: gray; border-style: solid;">
        <input type="text" style="border-radius: 40px; margin-top: 5px; height: 30px; margin-bottom: 5px; width: 1125px; margin-left: 5px;" placeholder="  Meklēt darbības jomu">
    </div>
    <h1>Izvēlieteis datumu</h1>
    <div class="container">
        <div style="width: 500px; height: 200px; background-color:#8AA3BA; border-radius: 5px;">
            <a href="" style="margin-left: 10px; margin-top: 10px; display:inline-block;width:30px;height:30px;background-color:#ccc;border:1px solid #ff0000;">P</a>
            <a href="" style="display:inline-block;width:30px;height:30px;background-color:#ccc;border:1px solid #ff0000;">O</a>
            <a href="" style="display:inline-block;width:30px;height:30px;background-color:#ccc;border:1px solid #ff0000;">T</a>
            <a href="" style="display:inline-block;width:30px;height:30px;background-color:#ccc;border:1px solid #ff0000;">C</a>
            <a href="" style="display:inline-block;width:30px;height:30px;background-color:#ccc;border:1px solid #ff0000;">Pk</a>
            <a href="" style="display:inline-block;width:30px;height:30px;background-color:#ccc;border:1px solid #ff0000;">S</a>
            <a href="" style="display:inline-block;width:30px;height:30px;background-color:#ccc;border:1px solid #ff0000;">Sv</a>
        </div>
    </div>
    <div class="zina" style="width: 1125px; height: 100px; background-color:red;margin-left: 50px;">
        <h2>Uzmanību!</h2>
        <p>Ejot pie daktera</p>
    </div>
{% endblock %}
