{% extends 'layout.html' %}
{% set active_page = 'login' %}
{% block content %}

<!-- <form action="/register" method="post">

  <input type="text" name="login" id="login" required>
  <input type="password" name="password" id="password" required>
  <input type="text" name="status" id="status" required>

  <input type="submit" value="submit">

</form> 
<a href="/login">log</a> -->






<H1>Reģistrēties portālā</H1>
<hr>

<form method=POST action="{{ url_for('register') }}">
  {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
  {% endif %}

<!-- Vārds un uzvārds -->
    <!-- vārds -->
<div style="display:inline-block;">
    <label for="exampleInputEmail1">Vārds</label>
  <div class="form-group">
    <input type="text" id="smallinput" class="form-control" name="name" required>
  </div>
</div>
    <!-- uzvārds -->
<div style="display:inline-block; padding-left:7px;">
    <label for="exampleInputEmail1">Uzvārds</label>
  <div class="form-group">
    <input type="text" id="smallinput" class="form-control" name="surname" required>
  </div>
</div>
<!-- Lietotājvārds -->
  <div class="form-group">
      <label for="exampleInputEmail1">Lietotājvārds</label>
      <input type="text" id="input" class="form-control" name="username" minlength="4" maxlength="21" required>
  </div>
<!-- E-pasts -->
  <div class="form-group">
    <label for="email">E-pasts</label>
    <input type="email" id="input" class="form-control" name="email" required>
  </div>
<!-- Parole -->
  <div class="form-group">
      <label for="exampleInputPassword1">Parole</label>
      <input type="password" id="input" class="form-control" name="pass" minlength="4" maxlength="21" required>
  </div>
<!-- Personas kods -->
    <label for="exampleInputPassword1">Personas kods</label>
  <div class="form-group">
    <input type="text" id="smallinput" class="form-control" name="per1" pattern="\d*" minlength="6" maxlength="6" required>
    -
    <input type="text" id="smallinput" class="form-control" name="per2" pattern="\d*" minlength="6" maxlength="6" required>
  </div>
<!-- Tālrunis -->
  <div class="form-group">
    <label for="exampleInputPassword1">Tālrunis</label>
    <input type="tel" id="input" class="form-control" name="tel" pattern="[0-9]{8}" minlength="8" maxlength="8" required>
  </div>
<!-- Reģistrēties poga -->
  <button type="submit" id="button" class="btn btn-primary btn-block">Reģistrēties</button>
  <br>
  <a href="/" style="text-decoration:underline;">pieslēgties</a>
</form>

<!-- <div class="box">
  <p data-end="*">Lietotāja vārds</p><input id="regLietotajaVards" name="regLietotajaVards" type="text">
</div>
<div class="box">
  <p data-end="*">Vārds</p><input id="regVards" name="regVards" type="text">
</div>
<div class="box">
  <p data-end="*">Uzvārds</p><input id="regUzvards" type="text">
</div>
<div class="box">
  <p data-end="*">Personas kods</p><input id="regPersonaskods"  type="text">
</div>
<div class="box">
  <p data-end="*">Parole</p><input id="regParole" type="password">
</div>
<div class="box">
  <p data-end="*">Parole atkārtoti</p><input id="regParoleAtkartoti" type="password">
</div>
<div class="box">
  <p data-end="*">E-pasts</p><input id="regEpasts" type="text">
</div>
<div class="box">
  <p data-end="*">Tālrunis</p><input id="regTalrunis" type="text">
</div>
  <div>
    <button type="submit" class="btn btn-primary" id="register">Reģistrēties</button>
  </div> -->
  <script src="static/register.js"></script>
{% endblock %}