{% extends 'layout.html' %}
{% set active_page = 'test' %}
{% block content %}

    <div class="form col-md-3" style = 'margin-top : 20px;'>
    <h4 style = 'margin-bottom: 2rem'>Register</h4>

        <div class="input-group mb-3">
            <input type="text" class="form-control"  id = 'lietotajvards' name = 'lietotajvards' placeholder="Lietotājvards" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id = 'vards'name = 'vards'placeholder="Vārds" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id = 'uzvards'name = 'uzvards'placeholder="Uzvārds" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id = 'personaskods'name = 'personaskods'placeholder="Personas kods" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <br>
        <div class="input-group mb-3">
            <input type="password" class="form-control" id = 'parole'name = 'parole'placeholder="Parole" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id = 'epasts'name = 'epasts'placeholder="E-pasts" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id = 'talrunis'name = 'talrunis'placeholder="Tālrunis" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <br>
        <div class="input-group mb-3">
            <button type="button" onclick = 'add()' class="form-control" >Reģistrēties</button>
        </div>

    </div>

    <form action="{{url_for('test')}}" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control"  id = 'reg_username' name = 'lietotajvards' placeholder="Lietotājvards" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <br>
        <div class="input-group mb-3">
            <input type="password" class="form-control" id = 'reg_password'name = 'parole'placeholder="Parole" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <br>
        <div class="input-group mb-3">
            <button type="button" onclick = 'add()' class="form-control" >Reģistrēties</button>
        </div>
    </form>

<script>


    add = () => {

        let reg_username = document.getElementById('reg_username').value
        let reg_password = document.getElementById('reg_password').value
        let uzvards = document.getElementById('uzvards').value
        let personaskods = document.getElementById('personaskods').value
        let parole = document.getElementById('parole').value
        let epasts = document.getElementById('epasts').value
        let talrunis = document.getElementById('talrunis').value

        if (lietotajvards == '' || vards == '' || uzvards == '' || personaskods == '' || parole == ''|| epasts == '' || talrunis == '' ) return alert('no empty lines')
        if (!Number(personaskods) || !Number(talrunis)) return alert ('daudzums or skaits should be number')
        
        fetch('/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({"reg_username" : reg_username, "reg_password" : reg_password,"uzvards" : uzvards, "personaskods" : personaskods, "parole" : parole, "epasts" : epasts, "talrunis" : talrunis})
        })
        location.reload()
    }

</script>
{% endblock %}